# Folders
openeats-api/
openeats-web/
openeats-nginx/
openeats-mobile/
openeats-demo/
open-eats.github.io/
site-media/
static-files/
node_modules/
secrets/*
.idea/

# Files
*.DS_Store
*.pyc
*.css.map
*.js.map
*.log
*.pyc

*.pem
env_prod.list
backup-Feb2021/*
public-ui/*
static-files/*
database/*
certs/*
site-media/*

openeats.sql
openeats.sql
